<?xml version="1.0" encoding="utf-8"?>
<packages>

    <!-- Languages -->
    <package id="python" />
    <package id="nodejs" />
    <package id="jre8" />
    <package id="jdk8" />
    <package id="awscli" />
    <package id="arduino" />
    <package id="processing" />
    <package id="unity" />

    <!-- IDEs -->
    <package id="notepadplusplus" />
    <package id="vscode" />
    <package id="intellijidea-ultimate" />

    <!-- Programming Tools -->
    <package id="git" />
    <package id="github-desktop" />
    <package id="yarn" />

    <!-- Network -->
    <package id="burp-suite-free-edition" />
    <package id="putty" />
    <package id="winscp" />
    <package id="wireshark" />
    <package id="postman" />

    <!-- Art/Engineering Tools -->
    <package id="fritzing" />
    <package id="openscad" />
    <package id="paint.net" />
    <package id="audacity" />
    <package id="screentogif" />
    <package id="eagle" />
    <package id="blender" />

    <!-- Browsers -->
    <package id="firefox" />
    <package id="googlechrome" />
        
    <!-- Imaging Tools -->
    <package id="rufus" />
    <package id="etcher" />

    <!-- PC Utils -->
    <package id="crystaldiskmark" />
    <package id="msiafterburner" />
    <package id="dataram-ramdisk" />
        <!-- Miray RAM Drive -->
    <package id="cpu-z" />

    <!-- Windows Utils -->
    <package id="powertoys" />
    <package id="windirstat" />
    <package id="7zip" />
    <package id="autohotkey" />
    <package id="deskpins" />
    <package id="winaero-tweaker" />
    <package id="f.lux" />
    <package id="procexp" />


    <!-- Communication -->
    <package id="discord" />
    <package id="slack" />
    <package id="obs-studio" />
    <package id="mirc" />

    <!-- Other Programs-->
    <package id="streamdeck" />
        <!-- Heavens Benchmark -->
    <package id="notion" />
    <package id="virtualbox" />
    <package id="qbittorrent" />
    <package id="winmerge" />
    <package id="4k-video-downloader" />
    <package id="mp3tag" />

    <!-- Media -->
        <!-- Plex -->
    <package id="vlc" />

</packages>


<!--

<package 
    id="alloptions" 
    version="0.1.1"
    source="https://somewhere/api/v2/" 
    installArguments=""
    packageParameters="" 
    forceX86="false" 
    allowMultipleVersions="false"
    ignoreDependencies="false"
/>

-->
